
*{ 
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(17, 17, 17);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
padding: 0 20px;
font-family: 'Poor Story', system-ui;
}
nav ul{
    list-style-type: none;
}